.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --secondary-color: #049604; // обычный шрифт без акцента (параграфы, к примеру)
    --inverted-primary-color: #0232c2; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --inverted-secondary-color: #0449e0; // обычный шрифт без акцента (параграфы, к примеру)
}
