/* был селектор .app.light и из за этого не работали стили в storybook */
:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --secondary-color: #0449e0; // обычный шрифт без акцента (параграфы, к примеру)
    --inverted-primary-color: #04ff04; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --inverted-secondary-color: #049604; // обычный шрифт без акцента (параграфы, к примеру)
    // скелетон
    --skeleton-shadow: #0003;
    --skeleton-color: #fff;

    // code
    --code-bg: #fff;
}
