.app.light {
	--bg-color: #e8e8ea;
	--inverted-bg-color: #090949;

	--primary-color: #0232c2; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
	--secondary-color: #0449e0; // обычный шрифт без акцента (параграфы, к примеру)
	--inverted-primary-color: #049604; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
	--inverted-secondary-color: #04ff04; // обычный шрифт без акцента (параграфы, к примеру)
}
