.app.light {
	--bg-color: #e8e8ea;

	--primary-color: #0232c2; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
	--secondary-color: #0449e0; // обычный шрифт без акцента (параграфы, к примеру)
}
