.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #9a1a0e; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --secondary-color: #d01f0e; // обычный шрифт без акцента (параграфы, к примеру)
    --inverted-primary-color: #dbd5dc; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --inverted-secondary-color: #faf4fb; // обычный шрифт без акцента (параграфы, к примеру)
}
