.app_pink_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #c61248;
    --primary-color: #000; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --secondary-color: #2f3d2c; // обычный шрифт без акцента (параграфы, к примеру)
    --inverted-primary-color: #eee; // главный цвет шрифта для акцента (заголовки, кнопки, ссылки)
    --inverted-secondary-color: #c4b3c8; // обычный шрифт без акцента (параграфы, к примеру)
    // скелетон
    --skeleton-shadow: #0003;
    --skeleton-color: #fff;

    // code
    --code-bg: #fff;
}
